<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="containerBodycarte">
      <div class="containerNodosConexion">

        <div class="containerNodos">
          <p class="titleNodo">Nodos</p>
          <div class="flexNodo">
            <% data.forEach(function(obj) { %>
              <p class="nombreNodo">Nodo: <%= obj.nombre %></p> 
              <div class="posicionesNodo">
                <p>Posición X: <%= obj.posX %></p> 
                <p>Posición Y: <%= obj.posY %></p>
              </div>
              <% }); %>      
          </div>
        </div>

        <div class="containerConexion">
          <p class="titleConexion">Conexiones</p>
          <% data2.forEach(function(obj) { %>
            <div class="ubicacionPeso">
              <p>ubicacion #1: <%= obj.ubicacion1 %></p>
              <p>ubicacion #2: <%= obj.ubicacion2 %></p>
              <p>peso: <%= obj.peso %></p>
              <hr>
            </div>
          <% }); %>
        </div>
        
      </div>
    </div>
    <form action="/dj" method="post">
        <h2 style="color: white;">Mira ruta mas rapida desde consola :( </h2><input type="text" name="inicio" id="" placeholder="ingresa nodo inicial" >
        <button>busca</button>
    </form>
</body>
</html>