<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nodos</h1>
    <% data.forEach(function(obj) { %>
        <h1>Nodo: <%= obj.nombre %></h1>
        <h3>Posición X: <%= obj.posX %></h3>
        <h3>Posición Y: <%= obj.posY %></h3>
      <% }); %>      

      <h1>Conexiones</h1>
      <% data2.forEach(function(obj) { %>
        <h3>ubicacion #1: <%= obj.ubicacion1 %></h1>
        <h3>ubicacion #2: <%= obj.ubicacion2 %></h3>
        <h3>peso: <%= obj.peso %></h3   >
      <% }); %>
      
      <form action="/dj" method="post">
        <button>Mira ruta mas rapida</button>
      </form>
</body>
</html>